# LangSmith API endpoint (usually doesn't need to change)
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Your LangSmith project name
# Create a project in the LangSmith dashboard first
LANGSMITH_PROJECT=Prod_CSS_Service_AI

#My Langsmith session id 
LANGSMITH_SESSION=6d53c216-306e-4bd7-9c2d-e80ba5d66ce9